#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        COMBO_ALT {
            bindings = <&kp LEFT_ALT>;
            key-positions = <37 38>;
            layers = <0>;
        };

        COMBO_SUPER {
            bindings = <&kp LEFT_GUI>;
            key-positions = <12 24>;
        };

        COMBO_ESC {
            bindings = <&kp ESCAPE>;
            key-positions = <0 12>;
        };

        COMBO_UNDERSCORE {
            bindings = <&kp UNDERSCORE>;
            key-positions = <4 16>;
        };

        COMBO_MINUS {
            bindings = <&kp MINUS>;
            key-positions = <6 18>;
        };

        COMBO_COLON {
            bindings = <&kp COLON>;
            key-positions = <18 30>;
        };

        COMBO_PLUS {
            bindings = <&kp PLUS>;
            key-positions = <5 17>;
        };

        COMBO_EQUALS {
            bindings = <&kp EQUAL>;
            key-positions = <7 19>;
        };

        COMBO_EXCLAMATION {
            bindings = <&kp EXCLAMATION>;
            key-positions = <13 25>;
        };

        COMBO_AT {
            bindings = <&kp AT_SIGN>;
            key-positions = <14 26>;
        };

        COMBO_HASHTAG {
            bindings = <&kp HASH>;
            key-positions = <15 27>;
        };

        COMBO_DOLLARSIGN {
            bindings = <&kp DOLLAR>;
            key-positions = <16 28>;
        };

        COMBO_PERCENT {
            bindings = <&kp PERCENT>;
            key-positions = <17 29>;
        };

        COMBO_AMPERSAND {
            bindings = <&kp AMPERSAND>;
            key-positions = <19 31>;
        };

        COMBO_ASTERISK {
            bindings = <&kp ASTERISK>;
            key-positions = <20 32>;
        };

        COMBO_LEFTPARENTHESIS {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <21 33>;
        };

        COMBO_RIGHTPARENTHESIS {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <22 34>;
        };

        COMBO_LEFTBACKET {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <9 21>;
        };

        COMBO_RIGHTBRACKET {
            bindings = <&kp RBKT>;
            key-positions = <10 22>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
&kp TAB         &kp Q         &kp W  &kp E      &kp R           &kp T    &kp Y      &kp U  &kp I      &kp O      &kp P           &kp SEMICOLON
&kp BSPC        &kp A         &kp S  &kp D      &kp F           &kp G    &kp H      &kp J  &kp K      &kp L      &kp APOSTROPHE  &kp GRAVE
&kp LEFT_SHIFT  &kp LEFT_ALT  &kp Z  &kp X      &kp C           &kp V    &kp B      &kp N  &kp M      &kp COMMA  &kp PERIOD      &kp SLASH
                                     &kp LCTRL  &kp LEFT_SHIFT  &mo 1    &kp SPACE  &mo 2  &kp ENTER
            >;
        };

        LOWER {
            bindings = <
&kp TAB        &kp N1          &kp N2  &kp N3     &kp N4     &kp N5      &trans     &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON
&kp BACKSPACE  &kp N6          &kp N7  &kp N8     &kp N9     &kp N0      &kp MINUS  &kp EQUAL      &trans        &kp LBKT              &kp RBKT               &kp TILDE
&trans         &kp UNDERSCORE  &trans  &kp MINUS  &kp EQUAL  &kp PLUS    &trans     &trans         &kp BSLH      &kp LESS_THAN         &kp GREATER_THAN       &kp QUESTION
                                       &trans     &trans     &trans      &kp SPACE  &mo 3          &trans
            >;
        };

        RAISE {
            bindings = <
&kp ESCAPE      &kp EXCLAMATION   &kp AT_SIGN        &kp HASH              &kp DOLLAR             &kp PERCENT    &kp CARET  &kp AMPERSAND   &kp ASTERISK  &trans            &kp RIGHT_PARENTHESIS  &kp C_VOLUME_UP
&kp BACKSPACE   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans         &trans     &kp LEFT        &kp DOWN      &kp UP            &kp RIGHT              &kp C_VOLUME_DOWN
&kp LEFT_SHIFT  &trans            &trans             &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans         &trans     &kp LEFT_BRACE  &trans        &kp LEFT_BRACKET  &kp RIGHT_BRACKET      &kp K_MUTE
                                                     &kp LCTRL             &kp LEFT_SHIFT         &mo 3          &trans     &trans          &trans
            >;
        };

        ADJUST {
            bindings = <
&kp F1   &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&kp DEL  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
&trans   &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
                         &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
